/* hw01 */
.table, .tablehead, .tabledata {
    border: 1px solid black;
    text-align: center;
}

#table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 60%;
    margin: 100px auto;
}

.tablehead {
    font-weight: bolder;
}

.sn, .age, .phone {
    width:16.66%；
}
.address {
    width: 50%;
}


/* hw02 */
.input-box {
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
    font-size: 16px;
    margin-left: 10px;

    
}

#mag {
    width: 25px;
    height: auto;
    margin-left: 10px;
    opacity: 0.5;
    
    
    
}
#mic {
    width: 35px;
    height: auto;
    
    
    
}

.searchbar {
    border: 1px solid rgb(155, 189, 241);
    width: 510px;
    height: 44px;
    border-radius: 2em;
    margin: 100px auto;
    
}

.input-box,#mag, #mic {
    vertical-align: middle;
}



/* hw03 */

h3 {
    font-weight: normal;
    margin: 0 auto;
    
}

.order-list, .unorder-list {
    margin: 0 auto;
}

/* hw04 */
#list {
    margin-top: 50px;
    margin-bottom: 200px;
}