body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Popup style */

 
  .modal-content {
  width: 450px;
  height: 360px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px 10px;
  border: 1px solid black;

}
/* 
.Login{
  width: 500px;
  height: 360px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px #88888833;
  
} */

.modal-title {
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
  background-color: white;
  
}

.label {
  font-size: 13px;
  color: #2b2a2a;
  margin-top: 12px;
  background-color: white;
 
  
}

label.form-label{
  background-color: transparent;
}
.control {
  margin-top: 10px; 
  background-color: white;
  
} 


/* form {
  width: 400px;
  background-color: white;
  
} */
input.inputclass {
  width: 320px;
  background-color: white;
  
}


#email,#password,.signin-button {

  width: 330px;
  height: 30px;
  border: 1px solid #99bac7;
  background-color: transparent;
 
}

.loginBox{
  background-color: transparent;

}


.signin-button {
  width: 336px;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  background-color: rgb(84, 70, 214);
  color: white;
}

.don, .sign-up, .forgot-password{
  font-size: 12px;
  color: #2b2a2a;
  
}
.don {
  margin-top: 20px;
  background-color: transparent;
}

.extra-info{
  background-color: white;
}

.sign-up {
  margin-left: 0px;
  color: #0d23eb;
  background-color: transparent;
}

.forgot-password {
  margin-left: 60px;
  color: #0d23eb;
  background-color: transparent;
} 

   
  .btn-close {
  content: 'X';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 50px);
  top: calc(100vh - 85vh - 130px);
  background: transparent;
  width: 25px;
  height: 25px;
  font-size: 20px;
  color: black;
  display: flex;
  }  


  .App {
    font-family: sans-serif;
    text-align: center;
  }
  

  Form {
    text-align: left;
    margin-left: 40px;
  }

  input.form-control {
    width: 326px;
    height: 22px;
  }
/* 

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 64px;
    gap: 312px;

    position: absolute;
    width: 1440px;
    height: 64px;
    left: 0px;
    top: 0px;

    background: #111827;

  } */

  .navbar li{
    list-style: none;
    display: inline-block;
    flex-direction: row;
    padding-right: 50px;
    
       
  }


  .page-container {
    position: relative;
    min-height: 100vh;
  }
  
  /* .content-wrap {
    padding-bottom: 2.5rem;    
  } */
  
  .footer {
    width: 100%;
position: absolute;
bottom: 0
           
  }